[submodule "cmake/jfc-cmake"]
	path = cmake/jfc-cmake
	url = https://github.com/jfcameron/jfc-cmake.git
[submodule "thirdparty/gdk-graphics"]
	path = thirdparty/gdk-graphics
	url = https://github.com/jfcameron/gdk-graphics.git
[submodule "thirdparty/simple-glfw"]
	path = thirdparty/simple-glfw
	url = https://github.com/jfcameron/simple-glfw.git
[submodule "thirdparty/gdk-input"]
	path = thirdparty/gdk-input
	url = https://github.com/jfcameron/gdk-input.git
[submodule "thirdparty/gdk-text-renderer"]
	path = thirdparty/gdk-text-renderer
	url = https://github.com/jfcameron/gdk-text-renderer.git
