[submodule "cmake/jfc-cmake"]
	path = cmake/jfc-cmake
	url = https://github.com/jfcameron/jfc-cmake.git
[submodule "thirdparty/gdk-graphics"]
	path = extern/gdk-graphics
	url = https://github.com/jfcameron/gdk-graphics.git
[submodule "thirdparty/gdk-input"]
	path = extern/gdk-input
	url = https://github.com/jfcameron/gdk-input.git
[submodule "thirdparty/gdk-audio"]
	path = extern/gdk-audio
	url = https://github.com/jfcameron/gdk-audio.git
[submodule "thirdparty/jfc-event-bus"]
	path = extern/jfc-event-bus
	url = https://github.com/jfcameron/jfc-event-bus.git
